.THIS .custom-body textarea{
    height:150px;
}

.THIS .multiline-tooltip {
    position: relative;
    display: inline-block;
}

.THIS .multiline-tooltip:hover:after {
    content: attr(data-tooltip);
    white-space: pre-wrap;
    position: absolute;
    left: 5%;
    top: 100%;
    padding: 5px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    z-index: 1;
}

.THIS .red-button {
    background-color: #980101
}
.THIS .filter-category-class{
    cursor: pointer;
}
.THIS .filter-category-section .slds-icon-utility-sort svg,
.THIS .filter-category-section .slds-icon-utility-sort .slds-icon{
    width: 18px !important;
    height: 15px !important;
}
.THIS .label-hidden label {
    display : none;
}